.productGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.home-wrapper {
    max-width: 120vh;
    margin: 1vh 30vh;
    background: rgba(0, 0, 0, 0.8);
    padding: 3vh;
    border-radius: 10px;
    overflow-y: auto;
}

.auto-complete-custom .MuiAutocomplete-popupIndicator {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    right: 8px; /* Adjust the position as needed */
}

.auto-complete-custom {
    width: 100% !important;
}

.auto-complete-custom .MuiAutocomplete-popupIndicator {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    right: 8px; /* Adjust the position as needed */
}

@media (max-width: 1200px) {
    .productGrid {
        grid-template-columns: repeat(3, 1fr);
    }

    .home-wrapper {
        margin: 1vh 20vh;
    }
}

@media (max-width: 992px) {
    .productGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-wrapper {
        margin: 1vh 10vh;
    }
}

@media (max-width: 768px) {
    .productGrid {
        grid-template-columns: 1fr;
    }

    .home-wrapper {
        margin: 1vh 5vh;
    }
}

@media (max-width: 576px) {
    .home-wrapper {
        margin: 1vh 2vh;
        padding: 2vh;
    }
}